{% extends "tram/base.html" %}
{% block content %}
    <div class="card-panel white">
        <h1>{{asset.assetnummer}}</h1>
        <div class="row">
            <div class="col l5">
                <div class="card-panel blue-grey lighten-3">
                    <h3>Details</h3>
                    <table>
                        <tr>
                            <td>Beschrijving:</td>
                            <td>{{asset.beschrijving}}</td>
                        </tr>
                        <tr>
                            <td>IP-Adres (LOGO):</td>
                            <td><a href='http://{{asset.ip_adres_logo}}' target='_blank'>{{asset.ip_adres_logo}}</a></td>
                        </tr>
                        <tr>
                            <td>IP-Adres (Modem):</td>
                            <td><a href='http://{{asset.ip_adres_modem}}' target='_blank'>{{asset.ip_adres_modem}}</a></td>
                        </tr>
                        <tr>
                            <td>Wordt gepolled:</td>
                            <td>
                            <div class="switch">
                                <label class="black-text">
                                  Uit
                                  <input type="checkbox" {%if asset.pollbaar%} checked {%else%} {%endif%} onclick="togglePollbaar()" {%if perms.tram.toggle_pollbaar_status%} {%else%} disabled {%endif%}>
                                  <span class="lever"></span>
                                  Aan
                                </label>
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Configuratie:</td>
                            <td>{{asset.configuratie.naam}}</td>
                        </tr>
                        <tr>
                            <td>Weging:</td>
                            <td>{{asset.weging}}x</td>
                        </tr>
                        <tr>
                            <td>Aantal omlopen:</td>
                            <td>Bak A: {{laatste_polling.omloop_a}}<br>Bak B: {{laatste_polling.omloop_b}}<br>{{druk_a1}}</td>
                        </tr>
                        <tr>
                            <td>Laatste data ontvangen op:</td>
                            <td>{{laatste_polling.tijdstip}}</td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
            <div class="col l7">
                <div class="card-panel  red lighten-2" style="max-height: 600px; overflow-y: auto">
                    <h3>Laatste storingen:</h3>
                    <table>
                        <tr>
                            <th>Storing</th>
                            <th>Omlopen</th>
                            <th>Tijdstip</th>
                        </tr>
                        {% for data in laatste_data|dictsortreversed:"tijdstip"%}
                            <tr>
                                <td>
                                {% for s in data.storing_beschrijving%}
                                {{s}}<br>
                                {% endfor%}
                                </td>
                                {% if data.omloop_b > 0 %}
                                    <td>A:{{data.omloop_a}} <br> B: {{data.omloop_b}}</td>
                                {% else %}
                                    <td>{{data.omloop_a}}</td>   
                                {% endif%}
                                <td>{{data.tijdstip}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'omloop_a' %}" id="iframe"  frameborder="0" height="450px" width="48%"></iframe>
            <!--{% if laatste_polling.omloop_b > 0 %} -->
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'omloop_b' %}" id="iframe"  frameborder="0" height="450px" width="48%"></iframe>
            <!--{% endif %}-->
        </div>
        <div class="row">
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_a1' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_a2' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_b1' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_b2' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
        </div>
        <!-- <div class="row">
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'kracht_a' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'kracht_b' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
        </div> -->
    </div>
{% endblock %}
{% block javascript %}
<script>
    var url_pollbaar = `{%url 'toggle_pollbaar' asset.assetnummer%}`

    function togglePollbaar(){
        $.ajax({
            method: "GET",
            url: url_pollbaar,
            error: function(response){
                console.log(response)
            },
            success: function (response) {
                if (response.waarde == true){
                    title = "Pollen van {{asset.assetnummer}} is ingeschakeld"
                }
                else{
                    title = "Pollen van {{asset.assetnummer}} is uitgeschakeld"
                }
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: title,
                    showConfirmButton: false,
                    timer: 2500
                  })
            }
        })
    }

</script>


{% endblock%}