{% extends "tram/base.html" %}
{% block content %}
<div class="card-panel white">
    <div class="row">
        <div class="input-field col s3 m6 l6">
            <i id="zbIcon" class="material-icons prefix zoekBalkClass">search</i>
            <input id="zoekBalk" type="text" class="validate zoekBalkClass">
            <label for="zoekBalk">Zoeken</label>
        </div>
    </div>
    <table>
        <thead>
            <th>Assetnummer</th>
            <th>Beschrijving</th>
            <th>Omlopen</th>    
            <th>IP-adres (logo)</th>
            <th>IP-adres (modem)</th>
            <th>Configuratie</th>
        </thead>
        <tbody id="tabelInhoud">
            {%for asset in assets %}
            <tr>
                <td><span title="{{asset.beschrijving}}"><a href="{% url 'asset_index'  asset.assetnummer %}" class="white blue-text btn waves-effect waves-light">{{asset.assetnummer}}</a></span></td>
                <td>{{asset.beschrijving}}</td>
                <td>Bak A: {{asset.laatste_data.omloop_a}}<br>Bak B: {{asset.laatste_data.omloop_b}}<br>{{druk_a1}}</td>
                <td>{{asset.ip_adres_logo}}</td>
                <td>{{asset.ip_adres_modem}}</td>
                <td>{{asset.configuratie}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
{% block javascript %}

<script>
    $("document").ready(function(){
        $("#zoekBalk").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tabelInhoud tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock%}