{% extends "tram/base.html" %}
{% block content %}
    <div class="card-panel white">
        <h1>{{asset.assetnummer}}</h1>
        <div class="row">
            <div class="col l5">
                <div class="card-panel blue-grey lighten-3">
                    <h3>Details</h3>
                    <table>
                        <tr>
                            <td>Beschrijving:</td>
                            <td>{{asset.beschrijving}}</td>
                        </tr>
                        <tr>
                            <td>IP-Adres (LOGO):</td>
                            <td>{{asset.ip_adres_logo}}</td>
                        </tr>
                        <tr>
                            <td>IP-Adres (Modem):</td>
                            <td>{{asset.ip_adres_modem}}</td>
                        </tr>
                        <tr>
                            <td>Wordt gepolled:</td>
                            <td>{{asset.pollbaar}}</td>
                        </tr>
                        <tr>
                            <td>Configuratie:</td>
                            <td>{{asset.configuratie.naam}}</td>
                        </tr>
                        <tr>
                            <td>Weging:</td>
                            <td>{{asset.weging}}x</td>
                        </tr>
                        <tr>
                            <td>Aantal omlopen:</td>
                            <td>Bak A: {{laatste_polling.omloop_a}}<br>Bak B: {{laatste_polling.omloop_b}}<br>{{druk_a1}}</td>
                        </tr>
                        <tr>
                            <td>Gemiddeld aantal omlopen:<br>(per 5 minuten)</td>
                            <td>Afgelopen 24 uur: {{asset.gem_dag_omloop_a_freq}} <br>Afgelopen week: {{asset.gem_week_omloop_a_freq}}<br> Afgelopen maand: {{asset.gem_maand_omloop_a_freq}} </td>
                        </tr>
                        <tr>
                            <td>Laatste data ontvangen op:</td>
                            <td>{{laatste_polling.tijdstip}}</td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
            <div class="col l7">
                <div class="card-panel  red lighten-2">
                    <h3>Laatste storingen:</h3>
                    <table>
                        <tr>
                            <th>Storing</th>
                            <th>Omlopen</th>
                            <th>Tijdstip</th>
                        </tr>
                        {% for data in laatste_data|dictsortreversed:"tijdstip"%}
                            <tr>
                                <td>
                                {% for s in data.storing_beschrijving%}
                                {{s}}<br>
                                {% endfor%}
                                </td>
                                {% if data.omloop_b > 0 %}
                                    <td>A:{{data.omloop_a}} <br> B: {{data.omloop_b}}</td>
                                {% else %}
                                    <td>{{data.omloop_a}}</td>   
                                {% endif%}
                                <td>{{data.tijdstip}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'omloop_a' %}" id="iframe"  frameborder="0" height="450px" width="48%"></iframe>
            {% if laatste_polling.omloop_b > 0 %}
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'omloop_b' %}" id="iframe"  frameborder="0" height="450px" width="48%"></iframe>
            {% endif %}
        </div>
        <div class="row">
            {% if asset.configuratie == "ELL-Standaard" or  asset.configuratie == "Amstelveen"  %}
                <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_a1' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            {% endif%}
            {% if  asset.configuratie == "ELL-Standaard" or  asset.configuratie == "Amstelveen" %}
                <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_a2' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            {% endif%}
            {% if laatste_polling.druk_b1 > 100 %}
                <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_b1' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            {% endif%}
            {% if laatste_polling.druk_b2 > 100 %}
                <iframe src="{% url 'asset_analyse' asset.assetnummer 'druk_b2' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            {%endif %}
        </div>
        <!-- <div class="row">
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'kracht_a' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
            <iframe src="{% url 'asset_analyse' asset.assetnummer 'kracht_b' %}" id="iframe" frameborder="0" height="450px" width="48%"></iframe>
        </div> -->
    </div>
{% endblock %}