{% load static %}
<!DOCTYPE html>
<html lang="nl">
  <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>TMS</title>
    <!-- Material Icon CDN -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Path of the materialize.min.css file -->
        <link rel="stylesheet" href="{% static 'tram/css/materialize.min.css' %}">
    <!-- Custom css file path -->
        <link rel="stylesheet" href="{% static 'tram/css/style.css' %}">
    <!-- Used as an example only to position the footer at the end of the page.
      You can delete these styles or move it to your custom css file -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </head>
  <body>
    <header>
      <nav class="cyan">
        <div class="nav-wrapper">
          <div class="container" style="margin-left: 30px">
            <ul>
              <li class="brand-logo" style="position: relative; ; margin-right: 10px;">Tram Monitoring Systeem</li>
              <li><a href="{% url 'index' %}" class="grey hoverable btn-large"><i class="small material-icons left">view_headline</i>Storingen</a></li>
              <li>
                <a href="#" class="grey hoverable btn-large"><i class="large material-icons left">check</i>Alle logos verbonden</a>
                <!-- <a href="#" class="waves-effect waves-light btn-large red"><i class="large material-icons left">warning</i>3 logos niet verbonden</a> -->
              </li>
              <li><a href="#" class="grey hoverable btn-large"><i class="material-icons left">timeline</i>Analyse</a></li>
            </ul>
          </div>
          <div class="right-align">
            <img src="{% static 'tram\img\GVB_logo.png' %}" height="65px" style="padding-right: 20px;" alt=""/>
          </div>
        </div>
      </nav>
    </header>
    <main>
        {% block content %}{% endblock%}
    </main>
    <footer class="page-footer cyan">
      <div class="container">
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2019 TMS
        </div>
      </div>
    </footer>
    <!-- The jQuery file path -->
      <script src="{% static 'tram/js/jquery.min.js' %}"></script>
    <!-- Path of the materialize.min.js file -->
      <script src="{% static 'tram/js/materialize.min.js' %}"></script>
    <script>
      $("document").ready(function(){
        $('.modal').modal();
       });
    </script>
      {% block javascript %} {% endblock %}
  </body>
</html>