{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TMS</title>
</head>

<body>
    <div id="container" style="height: 400px; width: 100%"></div>
</body>
<script src="{% static 'tram/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-1970-2030.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script>
    var asset = `{{asset.assetnummer}}`
    var veld = `{{veld}}`

    $('document').ready(
        get_gemiddelde(asset, veld)
    )

    function get_gemiddelde(assetnummer, veld){
        $.ajax({
            method: "GET",
            url: `/tram/api/get_maand_gemiddelde/{{asset.assetnummer}}/{{veld}}`,
            error: function(response){
                console.log(response)
            },
            success: function (response) {
                highStock(response.gemiddelde)
                
            } ,
        })
    }


    function highStock(gemiddelde){

    Highcharts.getJSON(`/tram/api/get_sensor_waarden/${asset}/${veld}`, function (data) {
        // Create the chart
        console.log("HC " + gemiddelde)

        Highcharts.setOptions({
            time: {
                timezone: 'Europe/Amsterdam'
            }
        });

        if (`{{veld}}`.includes("omloop") ==  false){
            Highcharts.stockChart('container', {
                yAxis: {
                    title: {
                        text: '{{veld}}'
                    },
                    plotLines: [{
                        value: gem,
                        color: 'green',
                        dashStyle: 'shortdash',
                        width: 2,
                        label: {
                            text:  'Maandgemiddelde (' + gemiddelde + ')'  
                        }
                    }]
                },
        
                rangeSelector: {
    
                    buttons: [
                    {
                        type: 'day',
                        count: 1,
                        text: '1d'
                    },
                    {
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },
        
                title: {
                    text: ' {{asset.assetnummer}} - {{veld}}'
                },
    
                series: [{
                    name: '{{veld}}',
                    data: data,
                    tooltip: {
                        valueDecimals: 0
                    }
                }]
    
            });
        }

        else {
            Highcharts.stockChart('container', {
 
                rangeSelector: {
    
                    buttons: [
                    {
                        type: 'day',
                        count: 1,
                        text: '1d'
                    },
                    {
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },
        
                title: {
                    text: ' {{asset.assetnummer}} - {{veld}}'
                },
    
                series: [{
                    name: '{{veld}}',
                    data: data,
                    tooltip: {
                        valueDecimals: 0
                    }
                }]
    
            });
        }
    });
}
</script> 