{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TMS</title>
</head>

<body>
    <div id="container" style="height: 400px; width: 100%"></div>
</body>
<script src="{% static 'tram/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-1970-2030.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/draggable-points.js"></script>

<script>
    var asset = `{{asset.assetnummer}}`
    var veld = `{{veld}}`
    var alarmwaarde_druk_a = parseInt(`{{asset.alarmwaarde_druk_a}}`)
    var alarmwaarde_druk_b = parseInt(`{{asset.alarmwaarde_druk_b}}`)

    var get_sensor_waarden_url = `{%url 'get_sensor_waarden' asset.assetnummer veld%}`

    $('document').ready(
        get_gemiddelde(asset, veld)
    )

    function get_gemiddelde(assetnummer, veld){
        $.ajax({
            method: "GET",
            url: get_sensor_waarden_url,
            error: function(response){
                console.log(response)
            },
            success: function (response) {
                highStock()
                
            } ,
        })
    }

    function highStock(){

    Highcharts.getJSON(`/tram/api/get_sensor_waarden/${asset}/${veld}`, function (data) {
        // Create the chart

        Highcharts.setOptions({
            time: {
                timezone: 'Europe/Amsterdam'
            }
        });

        if (`{{veld}}`.includes("omloop") ==  false){
            Highcharts.stockChart('container', {
                yAxis: {
                    title: {
                        text: '{{veld}}'
                    },
                    plotLines: [{
                        value: alarmwaarde_druk_a,
                        color: 'red',
                        dashStyle: 'shortdash',
                        width: 2,
                        label: {
                            text: 'Alarmwaarde' }
                        }],
                    softMax: 730,
                },
        
                rangeSelector: {
    
                    buttons: [
                    {
                        type: 'day',
                        count: 1,
                        text: '1d'
                    },
                    {
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },
        
                title: {
                    text: ' {{asset.assetnummer}} - {{veld}}'
                },

                subtitle: {
                    text: ``
                },
    
                series: [{
                    name: '{{veld}}',
                    data: data,
                    tooltip: {
                        valueDecimals: 0
                    }
                },
                {
                    type: "line",
                    name: "Alarmwaarde",
                    data: [[data[data.length-2][0], 730]],
                    dragDrop: {
                        draggableY: true,
                        dragPrecisionY: 1,
                        dragMaxY: 32767 ,
                        dragMinY: 30,
                    }
                }
                ]
    
            });
        }

        else {
            Highcharts.stockChart('container', {
 
                rangeSelector: {
    
                    buttons: [
                    {
                        type: 'day',
                        count: 1,
                        text: '1d'
                    },
                    {
                        type: 'day',
                        count: 3,
                        text: '3d'
                    }, {
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },
        
                title: {
                    text: ' {{asset.assetnummer}} - {{veld}}'
                },
                subtitle:{
                    text: ``
                },

                
    
                series: [{
                    name: '{{veld}}',
                    data: data,
                    tooltip: {
                        valueDecimals: 0
                    }
                }]
    
            });
        }
    });
}
</script> 