{% extends "tram/base.html" %}
{% block content %}
    <div class="card-panel white">
        <div id="demo"></div>
        <table>
            <tr>
                <th style="max-width: 5px;"></th>
                <th>ID</th>
                <th>Assetnummer</th>
                <th>Storing</th>
                <th>Count</th>
                <th>Score</th>
                <th>Omlopen</th>
                <th>Tijdstip</th>
                <th>Negeren</th>
                <th>Herstellen</th>
            </tr>
            <form action="storingen">
                {%for storing in storingen%}
                    <tr>
                        <td><label><input name="geselecteerde_storingen" value="{{storing.id}}" type="checkbox" class="filled-in"/><span></span></label></td>
                        <td>{{storing.id}}</td>
                        <td><a href="{% url 'asset_index' storing.laatste_data.assetnummer.assetnummerr%}">{{storing.laatste_data.assetnummer.assetnummer}}</a></td>
                        <td>{{storing.bericht}}</td>
                        <td>{{storing.som}}</td>
                        <td>{{storing.score}}</td>
                        {% if storing.laatste_data.omloop_b > 0 %}
                            <td>A:{{storing.laatste_data.omloop_a}} - B: {{storing.laatste_data.omloop_b}}</td>
                        {% else %}
                            <td>{{storing.laatste_data.omloop_a}}</td>   
                        {% endif%}
                        <td>{{storing.laatste_data.tijdstip}}</td>
                        <td>
                                <a href="{% url 'storing_gezien' storing.id  %}"><i class="material-icons small">visibility_off</i></a>
                        </td>
                        <td>
                                {% url 'storing_deactiveren' storing.id as durl %}
                                <a href="#" onclick="swalDeactiveerStoring('{{ durl }}')"><i class="material-icons small red-text">offline_pin</i></a>
                        </td>
                    </tr>
                {%endfor%}
            </form>
        </table>
    </div>
    {% if storingen|length > 30 %}
        <div class="center-align">
            <a class="waves-effect waves-light btn-large grey lighten-2 black-text" href="{% url 'alle_storingen'%}"><i class="material-icons left ">more_vert</i>Alle storingen</a>
        </div>
    {% endif %}
{% endblock content%}

{% block javascript%}
    <script>
        function refresh(){
            location.href = window.location.href;
        }
        var aInterval = setInterval(refresh, 15000);
        window.onclick = function(){
            clearInterval(aInterval)
            aInterval = setInterval(refresh, 15000);;
        };

        function swalDeactiveerStoring(url){
            Swal.fire({
                title: 'Zeker weten?',
                text: "De storing wordt nu afgesloten. Bij nieuwe updates word een nieuwe storing aangemaakt.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ja, Herstel!'
              }).then((result) => {
                if (result.value) {
                        window.location = url;
                    }
                }
            )
        }
    </script>
{% endblock javascript%}